* {
    margin: 0;
    padding: 0;
}

body {
    height: 98vh;
    background-color: #285561;
    background: linear-gradient(90deg, #285561, #5ECAE6);
    justify-content: center;
    text-align: center;
    align-items: center;
}

header {
    text-align: center;
    justify-content: center;
    font-size: 30px;
    margin-top: 1%;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
}

section h1 {
    font-size: 25pt;
    margin: 1%;
}

.relogio {
    display: flex;
    justify-content: space-around;
    width: 500px;
    height: 200px;
    text-align: center;
    align-items: center;
    background: transparent;
    box-shadow: 2px 8px 10px #05151d;
}

.ajuste {
    height: 170px;
    width: 150px;
    display: flex;
    align-items: center;
    background: black;
    color: gray;
    border-radius: 20px;
    justify-content: center;
    flex-direction: column;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
    letter-spacing: 2px;
}

.horas {
    font-size: 55px;
}

.minutos {
    font-size: 55px;
}

.segundos {
    font-size: 55px;
}

.horas2 {
    font-size: 55px;
}

.minutos2 {
    font-size: 55px;
}

.segundos2 {
    font-size: 55px;
}

.horas3 {
    font-size: 55px;
}

.minutos3 {
    font-size: 55px;
}

.segundos3 {
    font-size: 55px;
}

span .tempo {
    font-size: 25px;
}

footer {
    margin-top: 3vh;
    align-items: flex-end;
    font-size: 20px;
}

.relogio2 {
    display: flex;
    justify-content: space-around;
    width: 500px;
    height: 200px;
    text-align: center;
    align-items: center;
    background: transparent;
    box-shadow: 5px 8px 10px #020d12;
}

.relogio2 {
    display: flex;
}

.horario {
    margin-top: 2vh;
}

@media (max-width: 530px) {
    .ajuste {
        width: 25vw;
        height: 15vh;
        display: flex;

    }

    .relogio {
        width: 92vw;
        height: 18vh;
    }

    .relogio2 {
        width: 92vw;
        height: 18vh;
    }

    .relogio3 {
        width: 92vw;
        height: 18vh;
    }
}

